:root {
  --el-color-primary: #409eff;
}

* {
  font-family: Alibaba PuHuiTi;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #000;
}
#app {
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: inherit;
  background-color: rgba(144, 147, 153, 0.3);
  -webkit-transition: 0.3s background-color;
  transition: 0.3s background-color;
}
